/* layout */
.container {
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  gap: 20px;
}

.grid-a {
  grid-area: a;
}

.grid-b {
  grid-area: b;
}

.grid-c {
  grid-area: c;
}

@media (max-width: 1200px) {
  .container {
    grid-template-areas:
      "a a"
      "b c";
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "a"
      "b"
      "c";
    gap: 14px;
  }
}
/* body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

/* style */
.container {
  width: 1200px;
  max-width: calc(100% - 60px);
  min-width: 400px;
}

.grid-a h1 {
  font-weight: normal;
  color: #121314;
  /* 변동값 70px 70px 36px */
  font-size: 70px;
}

.grid-a p {
  color: #47494d;
  /* 변동값 20px 18px 14px */
  font-size: 20px;
  /* 변동값 20px 20px 14px */
  margin-top: 20px;
}

.grid-b,
.grid-c {
  border-radius: 20px;
  color: white;
  aspect-ratio: 486 / 280;
  padding: 40px 30px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-b {
  background: url(img/Rectangle\ 2.png) no-repeat 0 0 / cover;
}

.grid-c {
  background: url(img/Rectangle\ 3.png) no-repeat 0 0 / cover;
}

.grid-b strong,
.grid-c strong {
  /* qㅕㄴ동값 30 24 28 */
  font-size: 30px;
}

.grid-b span,
.grid-c span {
  align-self: flex-end;
}

.go-after::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #fff;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  margin-left: 0.2em;
}

@media (max-width: 1200px) {
  .grid-a p {
    /* 변동값 20px 18px 14px */
    font-size: 18px;
  }

  .grid-b,
  .grid-c {
    padding: 30px 20px 20px 30px;
  }

  .grid-b strong,
  .grid-c strong {
    /* qㅕㄴ동값 30 24 28 */
    font-size: 24px;
  }
}

@media (max-width: 760px) {
  .grid-a h1 {
    /* 변동값 70px 70px 36px */
    font-size: 36px;
  }
  .grid-a p {
    /* 변동값 20px 18px 14px */
    font-size: 14px;
    /* 변동값 20px 20px 14px */
    margin-top: 14px;
  }
  .grid-b strong,
  .grid-c strong {
    /* qㅕㄴ동값 30 24 20 */
    font-size: 20px;
  }
}

@media (min-height: 820px) {
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

@media (max-height: 819px) {
  .container {
    margin: 40px auto;
  }
}
