/* 하나의 div를 더 만들지 않아도 box-shadow로 처리 가능! box-shadow: 0px 0px 0px 3px #000; */

.box1 {
    border-top: 4px solid #4A5568;
    border-left: 4px solid #4A5568;
    color:white;
    background: #343F50;
    width: 215px;
    height: 80px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
}

.border {
    width: 215px;
    height: 80px;
    border: 4px solid black;
    line-height: 65px;
}

.box2 {
    width: 210px;
    height: 100px;
    background: linear-gradient(to right, #884df6, #3d6af3);
    border-radius: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    line-height: 95px;
}

.border2 {
    width: 210px;
    height: 100px;
    border: 8px dashed #e5d4ff;
    border-radius: 50px;
    margin-top: 40px;
}

.box3 {
    width: 230px;
    height: 95px;
    background: white;
    border: 3px solid rgb(230, 230, 230);
    font-size: 2rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    margin-top: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px 10px 10px 0px rgb(230, 230, 230);
}
