@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

a {
  text-decoration: none;
}

.main-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 348px;
}

.card-img {
  border-radius: 8px 8px 0 0;
  aspect-ratio: 288/196;
  object-fit: cover;
  display: block;
  width: 100%;
}

.contents {
  padding: 25px 16px 19px 16px;
}

.contents > h2 {
  font-size: 16px;
  color: #29363d;
  margin: 0;
}

.text {
  color: #5a6a72;
  font-size: 12px;
  margin: 12px 0px 19px 0px;
  line-height: 20px;
}

.underline {
  color: #29363d;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
  margin: 0;
  margin-left: 6px;
}

.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* circle-card */

.main-box2 {
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 288px;
  height: 374px;
}

.wrap {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.circle-img {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: #29363d;
  margin: 0;
  margin-bottom: 1px;
}

.sub-title {
  color: #5a6a72;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  margin: 0;
}

.card-top {
  display: flex;
  padding: 16px 16px 15px 16px;
  align-items: center;
}

.top-title {
  margin-left: 16px;
}

.card-img2 {
  aspect-ratio: 288/196;
  object-fit: cover;
  display: block;
  width: 100%;
}

.text2 {
  color: #5a6a72;
  font-size: 12px;
  line-height: 20px;
  margin: 10px 16px 8px 16px;
}

.link {
  text-decoration: none;
  color: #29363d;
}

.foo-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 16px;
}

.foo-left {
  display: flex;
}

.underline2 {
  color: #29363d;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
  margin: 0;
  margin-left: 6px;
  margin-right: 20px;
}

.temp {
  font-size: 10px;
  line-height: 18px;
}

.foo-icon {
  margin-left: 5px;
}
