@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body,
input,
button,
textarea {
  font-family: "Pretendard-Regular";
}

body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.memo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: royalblue;
  height: 60px;
}

.user-input {
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  box-sizing: border-box;
}

#memo-title,
.memo-contents {
  width: 100%;
  box-sizing: border-box;
  color: #757575;
  border: 0;
}

#memo-title:focus,
.memo-contents:focus {
  outline: none;
}

#memo-title {
  padding-left: 10px;
  height: 40px;
  font-size: 24px;
}

.memo-contents {
  padding: 12px 0 0 10px;
  height: 120px;
  font-size: 20px;
  resize: none;
}

.btn-complete {
  align-self: flex-end;
}

button {
  color: royalblue;
  font-size: 16px;
  font-weight: 700;
  width: 60px;
  height: 40px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
  border-radius: 6px;
}

#display {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;
  /* gap: 36px; */
}

.memo-list {
  width: 50%;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-sizing: border-box;
}

.memo-list :nth-child(2) {
  margin: 16px 0;
  line-height: 24px;
  min-height: 168px;
  font-size: 20px;
}

.memo-list button {
  float: right;
}

.multi-ellipsis{
  overflow:hidden;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.ellipsis{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}